/.vs/TaylorSeries/FileContentIndex/f53af004-bed5-46c0-bb58-3ac304ce14bc.vsidx
/.vs/TaylorSeries/v17/.suo
/.vs/TaylorSeries/v17/Browse.VC.db
/.vs/TaylorSeries/v17/Browse.VC.db-shm
/.vs/TaylorSeries/v17/Browse.VC.db-wal
/.vs/TaylorSeries/v17/Browse.VC.opendb
/.vs/TaylorSeries/v17/ipch/AutoPCH/53d40cfda0e3cf1d/TAYLORSERIES.ipch
/x64/Debug/TaylorSeries.exe
/x64/Debug/TaylorSeries.exe.recipe
/x64/Debug/TaylorSeries.ilk
/x64/Debug/TaylorSeries.log
/x64/Debug/TaylorSeries.obj
/x64/Debug/TaylorSeries.pdb
/x64/Debug/TaylorSeries.tlog/CL.command.1.tlog
/x64/Debug/TaylorSeries.tlog/Cl.items.tlog
/x64/Debug/TaylorSeries.tlog/CL.read.1.tlog
/x64/Debug/TaylorSeries.tlog/CL.write.1.tlog
/x64/Debug/TaylorSeries.tlog/link.command.1.tlog
/x64/Debug/TaylorSeries.tlog/link.read.1.tlog
/x64/Debug/TaylorSeries.tlog/link.write.1.tlog
/x64/Debug/TaylorSeries.tlog/TaylorSeries.lastbuildstate
/x64/Debug/TaylorSeries.vcxproj.FileListAbsolute.txt
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
